
* {
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  border-style: groove;
}

.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.userBox {
  background-color: #ecf5e6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.userBox h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #47fc32;
}


.bubble {
  background-color: #25e810;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bubble.me {
  background-color: #4CAF50;
  color: #fff;
}

.bubble.others {
  background-color: #2196F3;
  color: #fff;
}

#data {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  border-style: dashed;
}


#dropZone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 20px;
}


img {
  max-width: 30%;
  height: auto;
}

/* Button styles */
#datasend {
  display: block;
  width: 10%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.attachimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.attachimage label {
  display: block;
  margin: 0 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.attachimage input[type="file"] {
  display: none;
}


.bubble {
  background-color: #25e810;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 70%; /* মেসেজের প্রস্থ সীমিত করা */
}

.bubble.me {
  background-color: #4CAF50;
  color: #fff;
  margin-left: auto; /* ডানদিকে নিয়ে যাওয়া */
  text-align: right; /* টেক্সট ডানদিকে */
}

.bubble.others {
  background-color: #2196F3;
  color: #fff;
  margin-right: auto; /* বামদিকে রাখা */
  text-align: left; /* টেক্সট বামদিকে */
}

/* ইমেজের সাইজ ঠিক রাখতে */
img {
  max-width: 100%; /* ইমেজ বাবলের ভিতরে ফিট করবে */
  height: auto;
}